.table-row-light {
    background-color: #fafafa !important;
}

.table-row-dark {
    background-color: #ffffff !important;
}

.table-row-light:hover,
.table-row-dark:hover {
    background-color: #e6f7ff !important;
}

.ant-table-tbody>tr>td {
    padding: 16px !important;
}

.ant-table-thead>tr>th {
    padding: 16px !important;
    font-weight: 600;
}